body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
/*img {
  max-height: 20rem;
}*/


/***************** NAV *****************/

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background: #0066cc;
  padding: 1rem 0 1rem 0;
}
/**************** HERO *****************/

header img {
  max-height: 8rem;
  margin: 1rem 0 0 2rem;
}

h1 {
  color: #0066cc;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 2rem;
  vertical-align: bottom;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

section img {
  width: 10rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
}

.item-container div {
  flex-basis: 20rem;
  margin: 2rem;
  border: 2px solid black;
  padding: 1rem;
}


@media (min-width: 700px) {
  .item-container div {
    flex-basis: 10rem;
  }
}

@media (min-width: 1300px) {
  .item-container div {
    flex-basis: 20rem;
  }
}
